---
layout: default
---
<div>
    {% for project in site.projects %}
        {% assign mod = forloop.index | modulo: 2 %}

        {% if mod == 1 %}
            <div class="row justify-content-center">
        {% endif %}

            <div class="col mb-4">
                <div class="card bg-light card-style">
                    <div class="card-header">{{ project.header }}</div>
                    <div class="card-body">
                        <h4 class="card-title">{{ project.title }}</h4>
                        <p class="card-text">{{ project.description }}</p>
                        <a href="{{ project.permalink }}" class="btn btn-primary">Learn More...</a>
                    </div>
                </div>
            </div>

        {% if mod == 0 %}
            </div>
        {% endif %}

    {% endfor %}
</div>
