<div class="jumbotron centered">
  <h1 class="display-4">Hello, Bonjour, Здраво!</h1>
  <p class="lead">I'm Bojan Stefanovic, a full stack software engineer and cryptocurrency connoisseur. When I'm not programming I'm biking, working out, or caffeinating.</p>
  <hr class="my-4">
     <p>Check out my projects and soon to come blog posts.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="{{ site.projects_url }}" role="button">Projects</a>
        <a class="btn btn-primary btn-lg" href="{{ site.blog_url }}" role="button">Blog Posts</a>
      </p>
</div>
