<nav class="navbar shadow sticky-top navbar-expand-sm navbar-light bg-light">
    <div class="container narrow">
        <span class="h1" class="navbar-brand">{{ site.title }}</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="collapsingNavbar">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{{ site.home_url }}">Home</a>
                <a class="nav-item nav-link" href="{{ site.projects_url }}">Projects</a>
                <a class="nav-item nav-link" href="{{ site.blog_url }}">Blog</a>
            </div>
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" href="https://github.com/{{ site.github_username }}" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                <a class="nav-item nav-link" href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a class="nav-item nav-link" href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>                
            </div>
        </div>
    </div>
</nav>
